body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  position:absolute;
  left:133px;
  top:158px;
  width:452px;
  height:206px;
}
#u531 {
  position:absolute;
  left:2px;
  top:95px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u532 {
  position:absolute;
  left:375px;
  top:288px;
  width:137px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u533 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u534 {
  position:absolute;
  left:203px;
  top:288px;
  width:137px;
  height:49px;
  font-size:16px;
  color:#000000;
}
#u535 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u537 {
  position:absolute;
  left:544px;
  top:181px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u538 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u539 {
  position:absolute;
  left:544px;
  top:181px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u540 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u541 {
  position:absolute;
  left:153px;
  top:177px;
  width:116px;
  height:22px;
  font-size:18px;
}
#u542 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u543 {
  position:absolute;
  left:58px;
  top:68px;
  width:121px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u545 {
  position:absolute;
  left:153px;
  top:209px;
  width:300px;
  height:16px;
}
#u546 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u547 {
  position:absolute;
  left:153px;
  top:225px;
  width:9px;
  height:16px;
}
#u548 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u549 {
  position:absolute;
  left:153px;
  top:225px;
  width:198px;
  height:19px;
  font-size:16px;
}
#u550 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:77px;
}
#u551 {
  position:absolute;
  left:77px;
  top:402px;
  width:800px;
  height:77px;
  font-size:16px;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
