body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:945px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:1047px;
}
#u0 {
  position:absolute;
  left:58px;
  top:62px;
  width:887px;
  height:1047px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  word-wrap:break-word;
}
