body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32293 {
  position:absolute;
  left:47px;
  top:18px;
  width:572px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32294 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  white-space:nowrap;
}
#u32295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32295 {
  position:absolute;
  left:47px;
  top:57px;
  width:824px;
  height:19px;
  font-size:16px;
}
#u32296 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  word-wrap:break-word;
}
#u32297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:700px;
}
#u32297 {
  position:absolute;
  left:47px;
  top:86px;
  width:1400px;
  height:700px;
}
#u32298 {
  position:absolute;
  left:2px;
  top:342px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32299 {
  position:absolute;
  left:243px;
  top:635px;
  width:116px;
  height:18px;
}
#u32300 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u32301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:258px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32301 {
  position:absolute;
  left:210px;
  top:271px;
  width:41px;
  height:258px;
}
#u32302 {
  position:absolute;
  left:2px;
  top:121px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32303 {
  position:absolute;
  left:231px;
  top:529px;
  width:0px;
  height:0px;
}
#u32303_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:119px;
}
#u32303_seg1 {
  position:absolute;
  left:-4px;
  top:111px;
  width:16px;
  height:8px;
}
#u32303_seg2 {
  position:absolute;
  left:-1px;
  top:105px;
  width:20px;
  height:20px;
}
#u32304 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
