body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:499px;
}
#u2 {
  position:absolute;
  left:20px;
  top:46px;
  width:1169px;
  height:499px;
}
#u3 {
  position:absolute;
  left:2px;
  top:242px;
  width:1165px;
  visibility:hidden;
  word-wrap:break-word;
}
