body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u894 {
  position:absolute;
  left:53px;
  top:27px;
  width:447px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  white-space:nowrap;
}
#u896 {
  position:absolute;
  left:242px;
  top:1104px;
  width:931px;
  height:294px;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:31px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:31px;
  color:#FFFFFF;
}
#u898 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:31px;
}
#u899 {
  position:absolute;
  left:47px;
  top:0px;
  width:143px;
  height:31px;
  color:#FFFFFF;
}
#u900 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:31px;
}
#u901 {
  position:absolute;
  left:190px;
  top:0px;
  width:736px;
  height:31px;
  color:#FFFFFF;
}
#u902 {
  position:absolute;
  left:2px;
  top:8px;
  width:732px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:67px;
}
#u903 {
  position:absolute;
  left:0px;
  top:31px;
  width:47px;
  height:67px;
}
#u904 {
  position:absolute;
  left:2px;
  top:26px;
  width:43px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:67px;
}
#u905 {
  position:absolute;
  left:47px;
  top:31px;
  width:143px;
  height:67px;
  font-size:14px;
}
#u906 {
  position:absolute;
  left:2px;
  top:24px;
  width:139px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:67px;
}
#u907 {
  position:absolute;
  left:190px;
  top:31px;
  width:736px;
  height:67px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u908 {
  position:absolute;
  left:2px;
  top:24px;
  width:732px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:63px;
}
#u909 {
  position:absolute;
  left:0px;
  top:98px;
  width:47px;
  height:63px;
}
#u910 {
  position:absolute;
  left:2px;
  top:24px;
  width:43px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:63px;
}
#u911 {
  position:absolute;
  left:47px;
  top:98px;
  width:143px;
  height:63px;
  font-size:14px;
}
#u912 {
  position:absolute;
  left:2px;
  top:22px;
  width:139px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:63px;
}
#u913 {
  position:absolute;
  left:190px;
  top:98px;
  width:736px;
  height:63px;
  font-size:14px;
  text-align:left;
}
#u914 {
  position:absolute;
  left:2px;
  top:22px;
  width:732px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u915 {
  position:absolute;
  left:0px;
  top:161px;
  width:47px;
  height:44px;
}
#u916 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:44px;
}
#u917 {
  position:absolute;
  left:47px;
  top:161px;
  width:143px;
  height:44px;
  font-size:14px;
}
#u918 {
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:44px;
}
#u919 {
  position:absolute;
  left:190px;
  top:161px;
  width:736px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u920 {
  position:absolute;
  left:2px;
  top:13px;
  width:732px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u921 {
  position:absolute;
  left:0px;
  top:205px;
  width:47px;
  height:44px;
}
#u922 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:44px;
}
#u923 {
  position:absolute;
  left:47px;
  top:205px;
  width:143px;
  height:44px;
  font-size:14px;
}
#u924 {
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:44px;
}
#u925 {
  position:absolute;
  left:190px;
  top:205px;
  width:736px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u926 {
  position:absolute;
  left:2px;
  top:14px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u927 {
  position:absolute;
  left:0px;
  top:249px;
  width:47px;
  height:40px;
}
#u928 {
  position:absolute;
  left:2px;
  top:12px;
  width:43px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u929 {
  position:absolute;
  left:47px;
  top:249px;
  width:143px;
  height:40px;
  font-size:14px;
}
#u930 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:40px;
}
#u931 {
  position:absolute;
  left:190px;
  top:249px;
  width:736px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u932 {
  position:absolute;
  left:2px;
  top:11px;
  width:732px;
  word-wrap:break-word;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:44px;
  top:174px;
  width:375px;
  height:667px;
}
#u935 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:44px;
  top:174px;
  width:375px;
  height:49px;
}
#u937 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:66px;
  top:190px;
  width:30px;
  height:16px;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u940 {
  position:absolute;
  left:105px;
  top:187px;
  width:93px;
  height:22px;
  font-size:18px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:68px;
  top:285px;
  width:326px;
  height:170px;
}
#u944 {
  position:absolute;
  left:2px;
  top:77px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u945 {
  position:absolute;
  left:88px;
  top:333px;
  width:294px;
  height:1px;
}
#u946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u947 {
  position:absolute;
  left:116px;
  top:302px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u949 {
  position:absolute;
  left:88px;
  top:297px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u950 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u951 {
  position:absolute;
  left:174px;
  top:297px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u952 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u953 {
  position:absolute;
  left:208px;
  top:302px;
  width:80px;
  height:15px;
  font-size:13px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u955 {
  position:absolute;
  left:324px;
  top:300px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u957 {
  position:absolute;
  left:88px;
  top:344px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u959 {
  position:absolute;
  left:232px;
  top:347px;
  width:151px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  position:absolute;
  left:317px;
  top:294px;
  width:66px;
  height:28px;
}
#u962 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u963 {
  position:absolute;
  left:88px;
  top:373px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u965 {
  position:absolute;
  left:88px;
  top:402px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u967 {
  position:absolute;
  left:88px;
  top:429px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u969 {
  position:absolute;
  left:343px;
  top:429px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  position:absolute;
  left:68px;
  top:473px;
  width:326px;
  height:170px;
}
#u973 {
  position:absolute;
  left:2px;
  top:77px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u974 {
  position:absolute;
  left:88px;
  top:521px;
  width:294px;
  height:1px;
}
#u975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u976 {
  position:absolute;
  left:116px;
  top:490px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u978 {
  position:absolute;
  left:88px;
  top:485px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u979 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u980 {
  position:absolute;
  left:174px;
  top:485px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u981 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u982 {
  position:absolute;
  left:208px;
  top:490px;
  width:80px;
  height:15px;
  font-size:13px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u984 {
  position:absolute;
  left:324px;
  top:488px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u986 {
  position:absolute;
  left:88px;
  top:532px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u988 {
  position:absolute;
  left:232px;
  top:535px;
  width:151px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:317px;
  top:482px;
  width:66px;
  height:28px;
}
#u991 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u992 {
  position:absolute;
  left:88px;
  top:561px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u994 {
  position:absolute;
  left:88px;
  top:590px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u996 {
  position:absolute;
  left:88px;
  top:617px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u998 {
  position:absolute;
  left:343px;
  top:617px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:68px;
  top:660px;
  width:326px;
  height:170px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:77px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u1003 {
  position:absolute;
  left:88px;
  top:708px;
  width:294px;
  height:1px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1005 {
  position:absolute;
  left:116px;
  top:677px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1007 {
  position:absolute;
  left:88px;
  top:672px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1009 {
  position:absolute;
  left:174px;
  top:672px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1011 {
  position:absolute;
  left:208px;
  top:677px;
  width:80px;
  height:15px;
  font-size:13px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1013 {
  position:absolute;
  left:324px;
  top:675px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u1015 {
  position:absolute;
  left:88px;
  top:719px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u1017 {
  position:absolute;
  left:232px;
  top:722px;
  width:151px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1019 {
  position:absolute;
  left:317px;
  top:669px;
  width:66px;
  height:28px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1021 {
  position:absolute;
  left:88px;
  top:748px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1023 {
  position:absolute;
  left:88px;
  top:777px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u1025 {
  position:absolute;
  left:88px;
  top:804px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1027 {
  position:absolute;
  left:343px;
  top:804px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u1029 {
  position:absolute;
  left:314px;
  top:777px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:68px;
  top:849px;
  width:326px;
  height:170px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:77px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u1034 {
  position:absolute;
  left:88px;
  top:897px;
  width:294px;
  height:1px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1036 {
  position:absolute;
  left:116px;
  top:866px;
  width:27px;
  height:15px;
  font-size:13px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1038 {
  position:absolute;
  left:88px;
  top:861px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1040 {
  position:absolute;
  left:174px;
  top:861px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1042 {
  position:absolute;
  left:208px;
  top:866px;
  width:80px;
  height:15px;
  font-size:13px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1044 {
  position:absolute;
  left:324px;
  top:864px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u1046 {
  position:absolute;
  left:88px;
  top:908px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u1048 {
  position:absolute;
  left:232px;
  top:911px;
  width:151px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:317px;
  top:858px;
  width:66px;
  height:28px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1052 {
  position:absolute;
  left:88px;
  top:937px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1054 {
  position:absolute;
  left:88px;
  top:966px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u1056 {
  position:absolute;
  left:88px;
  top:993px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1058 {
  position:absolute;
  left:343px;
  top:993px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u1060 {
  position:absolute;
  left:326px;
  top:937px;
  width:47px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  visibility:hidden;
  white-space:nowrap;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u1062 {
  position:absolute;
  left:336px;
  top:748px;
  width:47px;
  height:16px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  visibility:hidden;
  white-space:nowrap;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u1064 {
  position:absolute;
  left:266px;
  top:371px;
  width:117px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u1066 {
  position:absolute;
  left:266px;
  top:563px;
  width:117px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u1068 {
  position:absolute;
  left:266px;
  top:746px;
  width:117px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u1070 {
  position:absolute;
  left:266px;
  top:935px;
  width:117px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  position:absolute;
  left:44px;
  top:222px;
  width:375px;
  height:42px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u1074 {
  position:absolute;
  left:170px;
  top:235px;
  width:28px;
  height:16px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1076 {
  position:absolute;
  left:206px;
  top:233px;
  width:113px;
  height:18px;
  font-size:16px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:29px;
}
#u1078 {
  position:absolute;
  left:66px;
  top:184px;
  width:27px;
  height:29px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:502px;
  top:423px;
  width:326px;
  height:170px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:77px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u1083 {
  position:absolute;
  left:522px;
  top:471px;
  width:294px;
  height:1px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1085 {
  position:absolute;
  left:545px;
  top:440px;
  width:52px;
  height:15px;
  font-size:13px;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1087 {
  position:absolute;
  left:517px;
  top:435px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1089 {
  position:absolute;
  left:617px;
  top:435px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1091 {
  position:absolute;
  left:651px;
  top:440px;
  width:65px;
  height:15px;
  font-size:13px;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1093 {
  position:absolute;
  left:757px;
  top:438px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u1095 {
  position:absolute;
  left:522px;
  top:482px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:18px;
}
#u1097 {
  position:absolute;
  left:665px;
  top:485px;
  width:151px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:28px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099 {
  position:absolute;
  left:750px;
  top:432px;
  width:66px;
  height:28px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1101 {
  position:absolute;
  left:522px;
  top:511px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1103 {
  position:absolute;
  left:522px;
  top:540px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u1105 {
  position:absolute;
  left:522px;
  top:567px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1107 {
  position:absolute;
  left:776px;
  top:567px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:18px;
}
#u1109 {
  position:absolute;
  left:699px;
  top:509px;
  width:117px;
  height:18px;
  font-size:14px;
  color:#000000;
}
#u1110 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:483px;
  top:617px;
  width:505px;
  height:344px;
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1113 {
  position:absolute;
  left:455px;
  top:202px;
  width:161px;
  height:62px;
  font-size:16px;
  color:#000000;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1115 {
  position:absolute;
  left:37px;
  top:131px;
  width:56px;
  height:22px;
  font-size:18px;
}
#u1116 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u1117 {
  position:absolute;
  left:314px;
  top:969px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1118 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u1119 {
  position:absolute;
  left:314px;
  top:591px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1120 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u1121 {
  position:absolute;
  left:317px;
  top:403px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u1123 {
  position:absolute;
  left:757px;
  top:539px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
