body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32460 {
  position:absolute;
  left:47px;
  top:18px;
  width:587px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32461 {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  white-space:nowrap;
}
#u32462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32462 {
  position:absolute;
  left:47px;
  top:57px;
  width:824px;
  height:19px;
  font-size:16px;
}
#u32463 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  word-wrap:break-word;
}
#u32464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:700px;
}
#u32464 {
  position:absolute;
  left:47px;
  top:105px;
  width:1400px;
  height:700px;
}
#u32465 {
  position:absolute;
  left:2px;
  top:342px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32466 {
  position:absolute;
  left:214px;
  top:322px;
  width:178px;
  height:14px;
}
#u32467 {
  position:absolute;
  left:2px;
  top:-1px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u32468 {
  position:absolute;
  left:441px;
  top:357px;
  width:156px;
  height:18px;
  color:#FF0000;
}
#u32469 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u32470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32471_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:55px;
  height:25px;
}
#u32471 {
  position:absolute;
  left:400px;
  top:341px;
  width:43px;
  height:5px;
  -webkit-transform:rotate(215deg);
  -moz-transform:rotate(215deg);
  -ms-transform:rotate(215deg);
  transform:rotate(215deg);
}
#u32472 {
  position:absolute;
  left:2px;
  top:-6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
