body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:43px;
  top:120px;
  width:375px;
  height:667px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1936 {
  position:absolute;
  left:44px;
  top:738px;
  width:375px;
  height:49px;
  font-size:16px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1938 {
  position:absolute;
  left:46px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1940 {
  position:absolute;
  left:344px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1942 {
  position:absolute;
  left:271px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1944 {
  position:absolute;
  left:196px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1946 {
  position:absolute;
  left:121px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1948 {
  position:absolute;
  left:393px;
  top:747px;
  width:9px;
  height:9px;
  font-size:10px;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1950 {
  position:absolute;
  left:42px;
  top:20px;
  width:244px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:43px;
  top:120px;
  width:375px;
  height:667px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  color:#0000FF;
}
#u1954 {
  position:absolute;
  left:66px;
  top:251px;
  width:334px;
  height:240px;
  color:#0000FF;
}
#u1955 {
  position:absolute;
  left:2px;
  top:112px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:39px;
}
#u1956 {
  position:absolute;
  left:79px;
  top:265px;
  width:154px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u1958_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:112px;
  height:38px;
}
#u1958 {
  position:absolute;
  left:85px;
  top:293px;
  width:92px;
  height:18px;
  color:#A1A1A1;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1960_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:197px;
  height:39px;
}
#u1960 {
  position:absolute;
  left:76px;
  top:321px;
  width:177px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u1962_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:355px;
  height:22px;
}
#u1962 {
  position:absolute;
  left:66px;
  top:444px;
  width:334px;
  height:1px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:165px;
  height:39px;
}
#u1964 {
  position:absolute;
  left:85px;
  top:383px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1966_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:202px;
  height:39px;
}
#u1966 {
  position:absolute;
  left:85px;
  top:415px;
  width:182px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1969_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u1969 {
  position:absolute;
  left:368px;
  top:273px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u1971 {
  position:absolute;
  left:368px;
  top:273px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:85px;
  height:39px;
}
#u1973 {
  position:absolute;
  left:207px;
  top:459px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:289px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1975 {
  position:absolute;
  left:449px;
  top:138px;
  width:488px;
  height:289px;
  font-size:16px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u1978 {
  position:absolute;
  left:590px;
  top:380px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u1980 {
  position:absolute;
  left:590px;
  top:380px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u1981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
