body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:43px;
  top:120px;
  width:375px;
  height:667px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2014 {
  position:absolute;
  left:44px;
  top:738px;
  width:375px;
  height:49px;
  font-size:16px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2016 {
  position:absolute;
  left:46px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2018 {
  position:absolute;
  left:344px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2020 {
  position:absolute;
  left:271px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2022 {
  position:absolute;
  left:196px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2024 {
  position:absolute;
  left:121px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2026 {
  position:absolute;
  left:393px;
  top:747px;
  width:9px;
  height:9px;
  font-size:10px;
  color:#FFFFFF;
}
#u2027 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2028 {
  position:absolute;
  left:42px;
  top:20px;
  width:244px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2030 {
  position:absolute;
  left:43px;
  top:120px;
  width:375px;
  height:667px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  color:#0000FF;
}
#u2032 {
  position:absolute;
  left:66px;
  top:251px;
  width:334px;
  height:240px;
  color:#0000FF;
}
#u2033 {
  position:absolute;
  left:2px;
  top:112px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:39px;
}
#u2034 {
  position:absolute;
  left:79px;
  top:265px;
  width:154px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u2036_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:112px;
  height:38px;
}
#u2036 {
  position:absolute;
  left:85px;
  top:293px;
  width:92px;
  height:18px;
  color:#A1A1A1;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2038_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:197px;
  height:39px;
}
#u2038 {
  position:absolute;
  left:76px;
  top:321px;
  width:177px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2040_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:355px;
  height:22px;
}
#u2040 {
  position:absolute;
  left:66px;
  top:444px;
  width:334px;
  height:1px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:165px;
  height:39px;
}
#u2042 {
  position:absolute;
  left:85px;
  top:383px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2044_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:202px;
  height:39px;
}
#u2044 {
  position:absolute;
  left:85px;
  top:415px;
  width:182px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2047 {
  position:absolute;
  left:368px;
  top:273px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2049 {
  position:absolute;
  left:368px;
  top:273px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u2050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:67px;
  height:22px;
}
#u2051 {
  position:absolute;
  left:210px;
  top:468px;
  width:46px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:117px;
  height:39px;
}
#u2053 {
  position:absolute;
  left:106px;
  top:459px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2055_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:85px;
  height:39px;
}
#u2055 {
  position:absolute;
  left:287px;
  top:459px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2057 {
  position:absolute;
  left:449px;
  top:138px;
  width:488px;
  height:327px;
  font-size:16px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2060_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2060 {
  position:absolute;
  left:670px;
  top:416px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2062 {
  position:absolute;
  left:670px;
  top:416px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u2063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
