body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2286px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:700px;
}
#u95 {
  position:absolute;
  left:38px;
  top:98px;
  width:1400px;
  height:700px;
}
#u96 {
  position:absolute;
  left:2px;
  top:342px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u97 {
  position:absolute;
  left:38px;
  top:21px;
  width:734px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u99 {
  position:absolute;
  left:1220px;
  top:-20px;
  width:30px;
  height:18px;
  color:#FF0000;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u99_ann {
  position:absolute;
  left:1243px;
  top:-24px;
  width:1px;
  height:1px;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u101 {
  position:absolute;
  left:1285px;
  top:-20px;
  width:59px;
  height:18px;
  color:#FF0000;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u101_ann {
  position:absolute;
  left:1337px;
  top:-24px;
  width:1px;
  height:1px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u103 {
  position:absolute;
  left:1495px;
  top:-20px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u103_ann {
  position:absolute;
  left:1553px;
  top:-24px;
  width:1px;
  height:1px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:134px;
}
#u105 {
  position:absolute;
  left:1476px;
  top:358px;
  width:810px;
  height:134px;
  font-size:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:134px;
}
#u107 {
  position:absolute;
  left:278px;
  top:727px;
  width:800px;
  height:134px;
  font-size:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:269px;
  top:1041px;
  width:868px;
  height:65px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u112 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u114 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u116 {
  position:absolute;
  left:519px;
  top:0px;
  width:173px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u118 {
  position:absolute;
  left:692px;
  top:0px;
  width:171px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u120 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u122 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u124 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u126 {
  position:absolute;
  left:519px;
  top:30px;
  width:173px;
  height:30px;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u128 {
  position:absolute;
  left:692px;
  top:30px;
  width:171px;
  height:30px;
}
#u129 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u130 {
  position:absolute;
  left:1159px;
  top:172px;
  width:30px;
  height:18px;
  color:#FF0000;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u130_ann {
  position:absolute;
  left:1182px;
  top:168px;
  width:1px;
  height:1px;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u132 {
  position:absolute;
  left:1230px;
  top:172px;
  width:59px;
  height:18px;
  color:#FF0000;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u132_ann {
  position:absolute;
  left:1282px;
  top:168px;
  width:1px;
  height:1px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u134 {
  position:absolute;
  left:1333px;
  top:172px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u134_ann {
  position:absolute;
  left:1391px;
  top:168px;
  width:1px;
  height:1px;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u136 {
  position:absolute;
  left:798px;
  top:25px;
  width:277px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  position:absolute;
  left:1028px;
  top:701px;
  width:452px;
  height:275px;
}
#u140 {
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:1103px;
  top:899px;
  width:137px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u143 {
  position:absolute;
  left:1283px;
  top:899px;
  width:137px;
  height:49px;
  font-size:16px;
  color:#000000;
}
#u144 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:123px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:1052px;
  top:759px;
  width:405px;
  height:123px;
  font-size:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u148 {
  position:absolute;
  left:1439px;
  top:724px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u150 {
  position:absolute;
  left:1439px;
  top:724px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u151 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:19px;
}
#u152 {
  position:absolute;
  left:1065px;
  top:770px;
  width:268px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u154 {
  position:absolute;
  left:1048px;
  top:720px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:16px;
}
#u156 {
  position:absolute;
  left:329px;
  top:1037px;
  width:810px;
  height:16px;
  font-size:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:115px;
}
#u158 {
  position:absolute;
  left:273px;
  top:886px;
  width:810px;
  height:115px;
  font-size:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:201px;
  top:327px;
  width:134px;
  height:9px;
}
#u161 {
  position:absolute;
  left:2px;
  top:-4px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u162 {
  position:absolute;
  left:470px;
  top:321px;
  width:633px;
  height:21px;
  color:#FF0000;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:470px;
  top:332px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  position:absolute;
  left:-135px;
  top:-4px;
  width:139px;
  height:8px;
}
#u164_seg1 {
  position:absolute;
  left:-142px;
  top:-10px;
  width:20px;
  height:20px;
}
#u165 {
  position:absolute;
  left:-118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:1605px;
  top:548px;
  width:392px;
  height:188px;
}
#u167 {
  position:absolute;
  left:2px;
  top:86px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u168 {
  position:absolute;
  left:1805px;
  top:666px;
  width:137px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u171 {
  position:absolute;
  left:1957px;
  top:571px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u173 {
  position:absolute;
  left:1957px;
  top:571px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u174 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u175 {
  position:absolute;
  left:1625px;
  top:567px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u177 {
  position:absolute;
  left:1625px;
  top:618px;
  width:332px;
  height:22px;
  font-size:18px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  position:absolute;
  left:1605px;
  top:786px;
  width:392px;
  height:188px;
}
#u180 {
  position:absolute;
  left:2px;
  top:86px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u182 {
  position:absolute;
  left:1957px;
  top:809px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u183 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u184 {
  position:absolute;
  left:1957px;
  top:809px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u185 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u186 {
  position:absolute;
  left:1625px;
  top:805px;
  width:111px;
  height:22px;
  font-size:18px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u188 {
  position:absolute;
  left:1625px;
  top:855px;
  width:167px;
  height:22px;
  font-size:18px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u190 {
  position:absolute;
  left:1640px;
  top:666px;
  width:137px;
  height:49px;
  font-size:16px;
  color:#000000;
}
#u191 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u192 {
  position:absolute;
  left:1805px;
  top:902px;
  width:137px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u193 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u194 {
  position:absolute;
  left:1640px;
  top:902px;
  width:137px;
  height:49px;
  font-size:16px;
  color:#000000;
}
#u195 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
