body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:527px;
}
#u0 {
  position:absolute;
  left:10px;
  top:121px;
  width:990px;
  height:527px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:41px;
}
#u2 {
  position:absolute;
  left:37px;
  top:49px;
  width:850px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u4 {
  position:absolute;
  left:822px;
  top:358px;
  width:65px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
