body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:700px;
}
#u32261 {
  position:absolute;
  left:47px;
  top:86px;
  width:1400px;
  height:700px;
}
#u32262 {
  position:absolute;
  left:2px;
  top:342px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32263 {
  position:absolute;
  left:47px;
  top:18px;
  width:572px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32264 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  white-space:nowrap;
}
#u32265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u32265 {
  position:absolute;
  left:47px;
  top:57px;
  width:824px;
  height:19px;
  font-size:16px;
}
#u32266 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  word-wrap:break-word;
}
#u32267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32267 {
  position:absolute;
  left:243px;
  top:635px;
  width:116px;
  height:18px;
}
#u32268 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u32269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:258px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32269 {
  position:absolute;
  left:210px;
  top:271px;
  width:41px;
  height:258px;
}
#u32270 {
  position:absolute;
  left:2px;
  top:121px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32271 {
  position:absolute;
  left:231px;
  top:529px;
  width:0px;
  height:0px;
}
#u32271_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:119px;
}
#u32271_seg1 {
  position:absolute;
  left:-4px;
  top:111px;
  width:16px;
  height:8px;
}
#u32271_seg2 {
  position:absolute;
  left:-1px;
  top:105px;
  width:20px;
  height:20px;
}
#u32272 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
