body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2045px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u248 {
  position:absolute;
  left:38px;
  top:21px;
  width:750px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  white-space:nowrap;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:700px;
}
#u250 {
  position:absolute;
  left:38px;
  top:81px;
  width:1400px;
  height:700px;
}
#u251 {
  position:absolute;
  left:2px;
  top:342px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u252 {
  position:absolute;
  left:1110px;
  top:206px;
  width:30px;
  height:18px;
  color:#FF0000;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u252_ann {
  position:absolute;
  left:1133px;
  top:202px;
  width:1px;
  height:1px;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u254 {
  position:absolute;
  left:1172px;
  top:206px;
  width:30px;
  height:18px;
  color:#FF0000;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u254_ann {
  position:absolute;
  left:1195px;
  top:202px;
  width:1px;
  height:1px;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u256 {
  position:absolute;
  left:1237px;
  top:206px;
  width:59px;
  height:18px;
  color:#FF0000;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u256_ann {
  position:absolute;
  left:1289px;
  top:202px;
  width:1px;
  height:1px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:174px;
}
#u258 {
  position:absolute;
  left:290px;
  top:723px;
  width:800px;
  height:174px;
  font-size:16px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u260 {
  position:absolute;
  left:1349px;
  top:206px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u260_ann {
  position:absolute;
  left:1407px;
  top:202px;
  width:1px;
  height:1px;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u262 {
  position:absolute;
  left:1447px;
  top:206px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u262_ann {
  position:absolute;
  left:1505px;
  top:202px;
  width:1px;
  height:1px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  position:absolute;
  left:1110px;
  top:670px;
  width:452px;
  height:275px;
}
#u266 {
  position:absolute;
  left:2px;
  top:130px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u267 {
  position:absolute;
  left:1185px;
  top:868px;
  width:137px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u268 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u269 {
  position:absolute;
  left:1365px;
  top:868px;
  width:137px;
  height:49px;
  font-size:16px;
  color:#000000;
}
#u270 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:123px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u271 {
  position:absolute;
  left:1134px;
  top:728px;
  width:405px;
  height:123px;
  font-size:16px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u274 {
  position:absolute;
  left:1521px;
  top:693px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u275 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u276 {
  position:absolute;
  left:1521px;
  top:693px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u277 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:19px;
}
#u278 {
  position:absolute;
  left:1147px;
  top:739px;
  width:268px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u280 {
  position:absolute;
  left:1130px;
  top:689px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:77px;
}
#u282 {
  position:absolute;
  left:290px;
  top:932px;
  width:810px;
  height:77px;
  font-size:16px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  position:absolute;
  left:199px;
  top:363px;
  width:134px;
  height:9px;
}
#u285 {
  position:absolute;
  left:2px;
  top:-4px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u286 {
  position:absolute;
  left:441px;
  top:357px;
  width:633px;
  height:21px;
  color:#FF0000;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:154px;
}
#u288 {
  position:absolute;
  left:290px;
  top:1053px;
  width:800px;
  height:154px;
  font-size:16px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:301px;
  top:1226px;
  width:1040px;
  height:95px;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u292 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u293 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u294 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u295 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u296 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u297 {
  position:absolute;
  left:519px;
  top:0px;
  width:173px;
  height:30px;
}
#u298 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u299 {
  position:absolute;
  left:692px;
  top:0px;
  width:173px;
  height:30px;
}
#u300 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u301 {
  position:absolute;
  left:865px;
  top:0px;
  width:170px;
  height:30px;
}
#u302 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u303 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u304 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u305 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
}
#u306 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u307 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u308 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u309 {
  position:absolute;
  left:519px;
  top:30px;
  width:173px;
  height:30px;
}
#u310 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u311 {
  position:absolute;
  left:692px;
  top:30px;
  width:173px;
  height:30px;
}
#u312 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u313 {
  position:absolute;
  left:865px;
  top:30px;
  width:170px;
  height:30px;
}
#u314 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u315 {
  position:absolute;
  left:0px;
  top:60px;
  width:173px;
  height:30px;
}
#u316 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u317 {
  position:absolute;
  left:173px;
  top:60px;
  width:173px;
  height:30px;
}
#u318 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u319 {
  position:absolute;
  left:346px;
  top:60px;
  width:173px;
  height:30px;
}
#u320 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u321 {
  position:absolute;
  left:519px;
  top:60px;
  width:173px;
  height:30px;
}
#u322 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u323 {
  position:absolute;
  left:692px;
  top:60px;
  width:173px;
  height:30px;
}
#u324 {
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u325 {
  position:absolute;
  left:865px;
  top:60px;
  width:170px;
  height:30px;
}
#u326 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u327 {
  position:absolute;
  left:441px;
  top:368px;
  width:0px;
  height:0px;
}
#u327_seg0 {
  position:absolute;
  left:-108px;
  top:-4px;
  width:112px;
  height:8px;
}
#u327_seg1 {
  position:absolute;
  left:-115px;
  top:-10px;
  width:20px;
  height:20px;
}
#u328 {
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u329 {
  position:absolute;
  left:798px;
  top:25px;
  width:516px;
  height:43px;
  font-size:18px;
  color:#FF0000;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  white-space:nowrap;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:403px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u332 {
  position:absolute;
  left:1396px;
  top:980px;
  width:649px;
  height:403px;
}
#u333 {
  position:absolute;
  left:2px;
  top:194px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u334 {
  position:absolute;
  left:1757px;
  top:1312px;
  width:137px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u335 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u336 {
  position:absolute;
  left:1546px;
  top:1312px;
  width:137px;
  height:49px;
  font-size:16px;
  color:#000000;
}
#u337 {
  position:absolute;
  left:2px;
  top:15px;
  width:133px;
  word-wrap:break-word;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:123px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u338 {
  position:absolute;
  left:1420px;
  top:1176px;
  width:594px;
  height:123px;
  font-size:16px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u341 {
  position:absolute;
  left:2003px;
  top:1004px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u342 {
  position:absolute;
  left:2px;
  top:-8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u343 {
  position:absolute;
  left:2003px;
  top:1004px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u344 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:19px;
}
#u345 {
  position:absolute;
  left:1433px;
  top:1187px;
  width:268px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u347 {
  position:absolute;
  left:1416px;
  top:999px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u349 {
  position:absolute;
  left:1426px;
  top:1047px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u350 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u351 {
  position:absolute;
  left:1426px;
  top:1139px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u353 {
  position:absolute;
  left:1433px;
  top:1079px;
  width:414px;
  height:35px;
}
#u353_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
