body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:785px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:536px;
}
#u2 {
  position:absolute;
  left:29px;
  top:32px;
  width:756px;
  height:536px;
}
#u3 {
  position:absolute;
  left:2px;
  top:260px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
