body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2097 {
  position:absolute;
  left:43px;
  top:120px;
  width:375px;
  height:667px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2099 {
  position:absolute;
  left:44px;
  top:738px;
  width:375px;
  height:49px;
  font-size:16px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2101 {
  position:absolute;
  left:46px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2103 {
  position:absolute;
  left:344px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2105 {
  position:absolute;
  left:271px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2107 {
  position:absolute;
  left:196px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2109 {
  position:absolute;
  left:121px;
  top:740px;
  width:75px;
  height:45px;
  font-size:18px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2111 {
  position:absolute;
  left:393px;
  top:747px;
  width:9px;
  height:9px;
  font-size:10px;
  color:#FFFFFF;
}
#u2112 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2113 {
  position:absolute;
  left:42px;
  top:20px;
  width:244px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2115 {
  position:absolute;
  left:43px;
  top:120px;
  width:375px;
  height:667px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(188, 188, 188, 0.349019607843137);
  color:#0000FF;
}
#u2117 {
  position:absolute;
  left:66px;
  top:251px;
  width:334px;
  height:240px;
  color:#0000FF;
}
#u2118 {
  position:absolute;
  left:2px;
  top:112px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:174px;
  height:39px;
}
#u2119 {
  position:absolute;
  left:79px;
  top:265px;
  width:154px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u2121_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:112px;
  height:38px;
}
#u2121 {
  position:absolute;
  left:85px;
  top:293px;
  width:92px;
  height:18px;
  color:#A1A1A1;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2123_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:308px;
  height:39px;
}
#u2123 {
  position:absolute;
  left:76px;
  top:321px;
  width:288px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
#u2125_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:355px;
  height:22px;
}
#u2125 {
  position:absolute;
  left:66px;
  top:444px;
  width:334px;
  height:1px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:165px;
  height:39px;
}
#u2127 {
  position:absolute;
  left:85px;
  top:383px;
  width:145px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2129_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:202px;
  height:39px;
}
#u2129 {
  position:absolute;
  left:85px;
  top:415px;
  width:182px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2132_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2132 {
  position:absolute;
  left:368px;
  top:273px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2133 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2134 {
  position:absolute;
  left:368px;
  top:273px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u2135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:67px;
  height:22px;
}
#u2136 {
  position:absolute;
  left:210px;
  top:468px;
  width:46px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:85px;
  height:39px;
}
#u2138 {
  position:absolute;
  left:118px;
  top:459px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2140_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:69px;
  height:39px;
}
#u2140 {
  position:absolute;
  left:292px;
  top:459px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:327px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2142 {
  position:absolute;
  left:449px;
  top:138px;
  width:488px;
  height:327px;
  font-size:16px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  word-wrap:break-word;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2145 {
  position:absolute;
  left:670px;
  top:416px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2146 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:45px;
  height:22px;
}
#u2147 {
  position:absolute;
  left:670px;
  top:416px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u2148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
